@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
body{
  background-color: beige;
}
.container{
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}
.btn{
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  cursor: pointer;
}
.btn-add{
  border-radius: 5px;
  background-color: lightblue;
}
.addcontainer{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addcontainer form{
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.addcontainer form label{
  font-size: 18px;
}
.addcontainer form input{
  font-size: 18px;
  padding: 5px;
  border-width: medium;
  margin-top: 5px;
  margin-bottom: 10px;
}
.addcontainer form button{
  background-color: aqua;
  font-weight: 500;
  margin-top: 20px;
}
.addcontainer form .close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 20px;
  border: 1px solid #000;
  cursor: pointer;
}
.tableContainer {
  margin-top: 50px;
  box-shadow: rgba(0,0,0,0.2);
  border-radius: 5px;

}

.tableContainer table thead tr{
  background-color: #f0eaea;

   
}
.tableContainer table thead tr{
  border: 1px gray;
}
.tableContainer table thead tr th,
.tableContainer table tbody tr td{
  min-width: 200px;
  padding: 7px;
  text-align: center;
}
.tableContainer table tbody tr td{
  border-bottom: 1px solid gray;
}
.btn-edit,.btn-delete{
 font-size: 16px;
 padding: 5px 10px;
 margin: 0px 10px;
}
.btn-edit{
  background-color: indianred;
}
.btn-delete{
  background-color: darkgrey;
}